{% extends "skeleton.html" %}
{% block body %}
<div class="container" id="about_container">
  <div class="col-md-8 col-md-offset-2">
    <h3>Help</h3>
    <p>In order to use GTS notifier, you will first need to register accounts at the <a href="https://www.pokemon.com/us/account/pgl/signup/">pokemon global link</a> and <a href="https://pushover.net/login">pushover</a>. You will also need to make sure your pokemon GL GTS trades are visible. From the <a href="http://3ds.pokemon-gl.com/settings/">account settings</a>, select "change privacy settings" and make sure "Global Trade Station" is set to "Everyone".</p>
    <!-- <h3>Submit form data</h3> -->
    <p>You will need to supply the form with your GL profile ID and your pushover app API key, email address or twitter ID. Your GL profile ID can be found on the header of the site after logging in, in the form S-000-8108-Z. Your pushover app API key can be found on <a href="https://pushover.net/">the pushover main page</a>. You will need to register a device before adding your key.</p>
  </div>
</div>
{% endblock %}