<!DOCTYPE html>
<html lang="en">
<head>
  <title>GTS notifier</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen">
  <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/fuelux.min.css') }}" media="screen"> -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/extra.css') }}" media="screen">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
</head>
<body>
  <div class="container">
    <div class="jumbotron text-center">
      <img src="{{ url_for('static', filename='img/vivillon.png') }}">
      <h1>GTS notifier</h1>
      <div class="lead">
        Notify through
        {% if currPage == 'pushover' %}
        pushover,
        {% else %}
        <a href="/pushover">pushover</a>,
        {% endif %}
        {% if currPage == 'email' %}
        email
        {% else %}
        <a href="/email">email</a>
        {% endif %}
        or
        {% if currPage == 'twitter' %}
        twitter
        {% else %}
        <a href="/twitter">twitter</a>
        {% endif %}
        when GTS trades complete.
      </div>
    </div>
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="{{ 'alert col-md-6 col-md-offset-3 alert-dismissable ' ~ category }}" id="nFlash">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
      </div>
    {% endfor %}
    {% block body %}{% endblock %}
    <ol class="breadcrumb col-md-6 col-md-offset-3" id="footer">
    {% for page in ['remove', 'about', 'help', 'source', 'bugs', 'contact'] %}
      {% if page != currPage %}
      <li><a href='{{ page }}'>{{ page|title }}</a></li>
      {% else %}
      <li class="active">{{ page|title }}</li>
      {% endif %}
    {% endfor %}
    </ol>
  </div>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>